[Unit]
Description=NMS Server
After=systemd-resolved.service

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/nms-server
Restart=on-abort

[Install]
WantedBy=multi-user.target