[Unit]
Description=NMS Server
Requires=network-online.target
After=network-online.target

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/nms-server
Restart=on-abort

[Install]
WantedBy=multi-user.target
