[Unit]
Description=NMS Server
After=systemd-resolved.service

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/nms-server -mode=remote
Restart=on-failure
RestartSec=1000ms

[Install]
WantedBy=multi-user.target
